body {
    display: flex;
    flex-direction: column;
    margin: 0px;

}

.header, .footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
}

.header {
    justify-content: space-between;
    padding: 10px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937
}

.action {
    background-color: #3882f6;
}

.footer {
    justify-content: center;
    
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    outline: #e5e7eb;
    border-color: #e5e7eb;

}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #f9faf8
}

.headertext {
    font-size: 24px;
}